In [1]:
# Import the required libraries and dependencies
import pandas as pd
import datetime as dt
from prophet import Prophet
from clean_data import clean_data

In [2]:
# Create path to CSV file
csv_path = "Metro_Interstate_Traffic_Volume.csv"
# Import the CSV into a pandas DataFrame
df = pd.read_csv(csv_path)
# Run imported DataFrame through clean_data function
clean_df = clean_data(df)

In [3]:
sorted_df = clean_df.sort_values(by='date_time', ascending=True)
sorted_df.head(30)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,traffic_volume,is_holiday
date_time,,,,,,,,,
2012-10-02 09:00:00,NaN,288.28,0.0,0.0,40,Clouds,scattered clouds,5545,False
2012-10-02 10:00:00,NaN,289.36,0.0,0.0,75,Clouds,broken clouds,4516,False
2012-10-02 11:00:00,NaN,289.58,0.0,0.0,90,Clouds,overcast clouds,4767,False
2012-10-02 12:00:00,NaN,290.13,0.0,0.0,90,Clouds,overcast clouds,5026,False
2012-10-02 13:00:00,NaN,291.14,0.0,0.0,75,Clouds,broken clouds,4918,False
2012-10-02 14:00:00,NaN,291.72,0.0,0.0,1,Clear,sky is clear,5181,False
2012-10-02 15:00:00,NaN,293.17,0.0,0.0,1,Clear,sky is clear,5584,False
2012-10-02 16:00:00,NaN,293.86,0.0,0.0,1,Clear,sky is clear,6015,False
2012-10-02 17:00:00,NaN,294.14,0.0,0.0,20,Clouds,few clouds,5791,False
2012-10-02 18:00:00,NaN,293.10,0.0,0.0,20,Clouds,few clouds,4770,False
2012-10-02 19:00:00,NaN,290.97,0.0,0.0,20,Clouds,few clouds,3539,False
2012-10-02 20:00:00,NaN,289.38,0.0,0.0,1,Clear,sky is clear,2784,False
2012-10-02 21:00:00,NaN,288.61,0.0,0.0,1,Clear,sky is clear,2361,False
2012-10-02 22:00:00,NaN,287.16,0.0,0.0,1,Clear,sky is clear,1529,False
2012-10-02 23:00:00,NaN,285.45,0.0,0.0,1,Clear,sky is clear,963,False
2012-10-03 00:00:00,NaN,284.63,0.0,0.0,1,Clear,sky is clear,506,False
2012-10-03 01:00:00,NaN,283.47,0.0,0.0,1,Clear,sky is clear,321,False
2012-10-03 02:00:00,NaN,281.18,0.0,0.0,1,Clear,sky is clear,273,False
2012-10-03 03:00:00,NaN,281.09,0.0,0.0,1,Clear,sky is clear,367,False
2012-10-03 04:00:00,NaN,279.53,0.0,0.0,1,Clear,sky is clear,814,False
2012-10-03 05:00:00,NaN,278.62,0.0,0.0,1,Clear,sky is clear,2718,False
2012-10-03 06:00:00,NaN,278.23,0.0,0.0,1,Clear,sky is clear,5673,False
2012-10-03 08:00:00,NaN,278.12,0.0,0.0,1,Clear,sky is clear,6511,False
2012-10-03 09:00:00,NaN,282.48,0.0,0.0,1,Clear,sky is clear,5471,False
2012-10-03 12:00:00,NaN,291.97,0.0,0.0,1,Clear,sky is clear,5097,False
2012-10-03 13:00:00,NaN,293.23,0.0,0.0,1,Clear,sky is clear,4887,False
2012-10-03 14:00:00,NaN,294.31,0.0,0.0,1,Clear,sky is clear,5337,False
2012-10-03 15:00:00,NaN,295.17,0.0,0.0,1,Clear,sky is clear,5692,False
2012-10-03 16:00:00,NaN,295.13,0.0,0.0,1,Clear,sky is clear,6137,False
2012-10-03 18:00:00,NaN,293.66,0.0,0.0,20,Clouds,few clouds,4623,False

In [4]:
def identify_gaps(df, output_file):
    # Define the expected range of hourly datetimes
    start_date = pd.to_datetime('2012-10-02 09:00:00')
    end_date = pd.to_datetime('2018-09-30 23:00:00')
    expected_dates = pd.date_range(start=start_date, end=end_date, freq='H')

    # Extract the actual datetimes from the DataFrame
    actual_dates = df.index

    # Identify missing datetimes
    missing_dates = expected_dates[~expected_dates.isin(actual_dates)]

    # Export missing datetimes to a CSV file
    missing_dates.to_frame(name='missing_datetime').to_csv(output_file, index=False)

# Assuming 'df' is your DataFrame
output_file = 'missing_datetimes.csv'
identify_gaps(clean_df, output_file)

C:\Users\Matt\AppData\Local\Temp\ipykernel_23904\2311151761.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  expected_dates = pd.date_range(start=start_date, end=end_date, freq='H')

In [5]:
def identify_gaps(df, output_missing_file, output_long_gaps_file):
    # Define the expected range of hourly datetimes with frequency 'H'
    start_date = pd.to_datetime('2012-10-02 09:00:00')
    end_date = pd.to_datetime('2018-09-30 23:00:00')
    expected_dates = pd.date_range(start=start_date, end=end_date, freq='H')

    # Extract the actual datetimes from the DataFrame
    actual_dates = df.index

    # Identify missing datetimes
    missing_dates = expected_dates[~expected_dates.isin(actual_dates)]

    # Identify gaps longer than 6 hours
    gap_lengths = (missing_dates - missing_dates.shift(1)).fillna(pd.Timedelta(0))
    long_gaps = missing_dates[gap_lengths >= pd.Timedelta(hours=6)]

    # Export missing datetimes to a CSV file
    missing_dates.to_frame(name='missing_datetime').to_csv(output_missing_file, index=False)

    # Export long gaps to a separate CSV file
    long_gaps.to_frame(name='long_gap_datetime').to_csv(output_long_gaps_file, index=False)

# Assuming 'df' is your DataFrame
output_missing_file = 'missing_datetimes.csv'
output_long_gaps_file = 'long_gaps.csv'
identify_gaps(clean_df, output_missing_file, output_long_gaps_file)

C:\Users\Matt\AppData\Local\Temp\ipykernel_23904\2205768346.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  expected_dates = pd.date_range(start=start_date, end=end_date, freq='H')

NullFrequencyError: Cannot shift with no freq

In [6]:
len(clean_df)

48193

In [7]:
holiday_rows = df['is_holiday']

KeyError: 'is_holiday'

In [ ]:
print(df['holiday'].unique())